<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>ELIZA</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/cover/">

    

    
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/cover.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="css/bootstrap.rtl.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" />
    
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .chatbox a {
        text-decoration: none;
        color: #2364d2;
    }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: linear-gradient(#212529, #212529);
      }

      p {
        font-size: 16px;
        color: #f9f9f9;
      }

      h2 {
        color: white;
        margin: auto;
      }

    </style>

  </head>
  <body class="d-flex">
    <!-- {% comment %} <nav class="navbar bg-dark mr-auto"> 
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">PAIP</a>
      </div>
    </nav> {% endcomment %} -->
  <div id="root">
  <section class="chatbox">
    <h2><a class="" href="/home.html">PAIP </a> / ELIZA</h2>
    <section class="chat-window">
   
    </section>
    <form class="msger-inputarea">
      <input
        type="text"
        class="msger-input"
        id="textInput"
        placeholder="Enter your message..."
      />
      <button type="submit" class="msger-send-btn">Send</button>
    </form>
  </div>
    <script type='text/javascript' src='config.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
    <script>
      const msgerForm = get(".msger-inputarea");
      const msgerInput = get(".msger-input");
      const msgerChat = get(".chat-window");
  
     
      const BOT_IMG =
        "//gravatar.com/avatar/00034587632094500000000000000000?d=retro";
      const PERSON_IMG =
        "//gravatar.com/avatar/002464562345234523523568978962?d=retro";
      const ELIZA = config.ELIZA_KEY
      const BOT_NAME = "Eliza";
      const PERSON_NAME = "You";

      msgerForm.addEventListener("submit", (event) => {
        event.preventDefault();

        const msgText = msgerInput.value;
        console.log(msgText);
        if (!msgText) return;
        const down = `<img class="user-img" id="user-0" src="${PERSON_IMG}"/>`
        appendMessage(PERSON_NAME, "self", msgText, "0", `<a></a>`, down);
        msgerInput.value = "";
        botResponse(msgText, BOT_IMG);
        console.log("Bot response is called.")
      });

      function appendMessage(name, side, text, id, up, down) {
        const msgHTML = ` 
          <article class="msg-container msg-${side}">
            <div class="msg-box">
              ${up}
              <div class="flr">
                <div class="messages">
                  <p class="msg" id="msg-${id}">${text}</p>
                </div>
                <span class="timestamp">
                  <span class="username">${name}</span>&bull;<span class="posttime">${formatDate(new Date())}
                  </span>
                </span>
              </div>
              ${down}
            </div>
          </article>`;
      
        console.log(msgHTML);
        msgerChat.insertAdjacentHTML("beforeend", msgHTML);
        msgerChat.scrollTop += 500;
      }

      function botResponse(rawText) {
        // Bot Response
        $.get(ELIZA, { name: rawText }).done(function (data) {
          console.log(rawText);
          console.log(data);
          const msgText = data;
          const up = `<img class="user-img" id="user-0" src="${BOT_IMG}"/>`
          appendMessage(BOT_NAME, "remote", msgText, "1", up, `<a></a>`);
        });
      }

      // Utils
      function get(selector, root = document) {
        return root.querySelector(selector);
      }

      function formatDate(date) {
        const h = "0" + date.getHours();
        const m = "0" + date.getMinutes();

        return `${h.slice(-2)}:${m.slice(-2)}`;
      }
    </script>
    <script src="js/index.js"></script>
  </section>   
  </body>

</html>






